version: '2'
services:
  sonarqube:
    image: sonarqube
    ports:
      - "9000:9000"
    depends_on:
      - postgres
    environment:
      - SONARQUBE_JDBC_URL=jdbc:postgresql://db:5432/sonar
    volumes:
      - {{ devopslab_conf }}/sonar.properties:/opt/sonarqube/conf/sonar.properties 
    networks:
      - front-tier
      - back-tier
  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
    volumes:
      - {{ devopslab_root }}/postgres:/var/lib/postgresql
    networks:
      - back-tier
networks:
  front-tier:
    driver: bridge
  back-tier:
    driver: bridge
