version: '2'
services:
  sonarqube:
    image: sonarqube
    ports:
      - "9000:9000"
    depends_on:
      - pg
    environment:
      - SONARQUBE_JDBC_URL=jdbc:postgresql://pg:5432/sonar
    volumes:
      - {{ devopslab_sonarqube_conf }}/sonar.properties:/opt/sonarqube/conf/sonar.properties 
    networks:
      - front
      - back
  pg:
    image: postgres
    depends_on:
      - pgdata
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
    volumes_from:
      - pgdata
    networks:
      - back
  pgdata:
    image: postgres
    volumes:
      - {{ devopslab_sonarqube_pgdata }}:/var/lib/postgresql/data
networks:
  front:
    driver: bridge
  back:
    driver: bridge
