---
- name: docker composition
  template: src={{item}} dest={{ devopslab_root }}/{{ item }}
  with_items:
    - devopslab.yml

- name: script
  template: src={{item}} dest={{ devopslab_root }}/{{ item }} mode=755
  with_items:
    - devopslab.sh

- name: up
  command: '{{ devopslab_root }}/devopslab.sh up'
